<div class="hero-unit">
  <h1>Sitemiz şu anda yapım aşamasındadır.</h1>
  <p>Çok yakında sizlerle birlikte olacağız.</p>
  <p>
    <a href="http://nelermodaymis.blogspot.com/" class="btn btn-primary btn-large">
      Neler Modaymış?
    </a>
  </p>
</div>
