<script type="text/javascript">
			Cufon.replace('span');
			Cufon.replace('li');
			Cufon.replace('h1');
			Cufon.replace('p');
</script>

<div class="title"></div>
		<div id="cc_menu" class="cc_menu">
			<div class="cc_item" style="z-index:5;">
				<img src="images/1.jpg" alt="image" />
				<span class="cc_title">Menu 1</span>
				<div class="cc_submenu">
					<ul>
						<li class="cc_content_1">Alt menu 1</li>
						<li class="cc_content_2">Alt menu 2</li>
					</ul>
				</div>
			</div>
			<div class="cc_item" style="z-index:4;">
				<img src="images/2.jpg" alt="image" />
				<span class="cc_title">Menu 2</span>
				<div class="cc_submenu">
					<ul>
						<li class="cc_content_3">Alt menu 1</li>
						<li class="cc_content_4">Alt menu 2</li>
						<li class="cc_content_5">Alt menu 3</li>
						<li class="cc_content_6">Alt menu 4</li>
					</ul>
				</div>
			</div>
			<div class="cc_item" style="z-index:3;">
				<img src="images/3.jpg" alt="image" />
				<span class="cc_title">Menu 3</span>
				<div class="cc_submenu">
					<ul>
						<li class="cc_content_7">Alt menu 1</li>
						<li class="cc_content_8">Alt menu 2</li>
					</ul>
				</div>
			</div>
			<div class="cc_item" style="z-index:2;">
				<img src="images/4.jpg" alt="image" />
				<span class="cc_title">Menu 4</span>
				<div class="cc_submenu">
					<ul>
						<li class="cc_content_9">Alt menu 1</li>
						<li class="cc_content_10">Alt menu 2</li>
					</ul>
				</div>
			</div>
			<div class="cc_item" style="z-index:1;">
				<img src="images/5.jpg" alt="image" />
				<span class="cc_title">Menu 5</span>
				<div class="cc_submenu">
					<ul>
						<li class="cc_content_11">Alt menu 1</li>
						<li class="cc_content_12">Alt menu 2</li>
					</ul>
				</div>
			</div>
			<div id="cc_content" class="cc_content">
				<span id="cc_back" class="cc_back">&lt;&lt; Geri dön</span>
				<div class="cc_content_1">
					<h1>Başlık</h1>
					<p>İçerik</p>
				</div>
				<div class="cc_content_2">
					<h1>Başlık</h1>
					<p>İçerik</p>
				</div>
				<div class="cc_content_3">
					<h1>Başlık</h1>
					<p>İçerik</p>
				</div>
				<div class="cc_content_4">
					<h1>Başlık</h1>
					<p>İçerik</p>
				</div>
				<div class="cc_content_5">
					<h1>Başlık</h1>
					<p>İçerik</p>
				</div>
				<div class="cc_content_6">
					<h1>Başlık</h1>
					<p>İçerik</p>
				</div>
				<div class="cc_content_7">
					<h1>Başlık</h1>
					<p>İçerik</p>
				</div>
				<div class="cc_content_8">
					<h1>Başlık</h1>
					<p>İçerik</p>
				</div>
				<div class="cc_content_9">
					<h1>Başlık</h1>
					<p>İçerik</p>
				</div>
				<div class="cc_content_10">
					<h1>Başlık</h1>
					<p>İçerik</p>
				</div>
				<div class="cc_content_11">
					<h1>Başlık</h1>
					<p>İçerik</p>
				</div>
				<div class="cc_content_12">
					<h1>Başlık</h1>
					<p>İçerik</p>
				</div>
			</div>
		</div>
        <div>
		</div>
        
